* {
    box-sizing: border-box;
  }
  

  body {
    margin: 0px;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  .titleimg{
    padding: 100px 0px 0px 0px;
  }
  .titleimg video{
    width: 100%;
    display: block;
    margin: auto;
  }

  .caption{
    font-size: 50px;
     text-align: center;
     padding: 5%;
  }